.hero {
    background-color: #f5f5f5;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    transition: .7s ease;

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .4rem;
    }
}


.hero.dark-mode {
    background-color: #000000;
    color: #fff;

    
    .hero__title {
    color: #fff;
    }

    .hero__text {
     
        color: #ffffffd8;
    }

}

.hero__title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.hero__text {
    font-size: 1rem;
    color: #666;
}

.hero__btn {
    display: inline-block;
    padding: 10px 30px;
    margin-top: .7rem;
    background-color: #1a89ff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #007bff;
    }
}

@media (max-width: 800px) {
   .hero {
    flex-direction: column-reverse;
    gap: 20px;
    width: 100%;

    .hero__content {
        align-items: center;
        text-align: center;

        .hero__btn {
            width: 90%;
        }
    }

    .hero__image {
        width: 100%;
        img {
            width: 100%;
        }
    }
   }
}