.nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    color: #000;
    border-bottom: 1px solid transparent;
    transition: .3s;

    .nav__logo {
        width: 80px;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;

        a {
            color: #000;
            letter-spacing: .1rem;
            transition: .5s;

            span {
                color: #1a89ff;
            }
        }
    }

    .nav__search {
        display: flex;
        align-items: center;

        .search__input {
            width: 350px;
            padding: 0.5rem;
            border: none;
            outline: none;
            margin-right: 1rem;
            background-color: transparent;
            color: #000;
            border-bottom: 1px solid #000;
            transition: .3s ease;
     
            &::placeholder {
                color: #000;
            }

            &:focus {
                border-bottom: 1px solid #1a89ff!important;
            }
        }
        
    }

    .nav__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        .nav__link {
            margin: 0 1rem;
            text-decoration: none;
            color: #fff;
        }
    }

  .menu {
    display: flex;
    align-items: center;
    gap: 15px;

    .menu__btn {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        background-color: #000;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: .3s;


        &:hover {
            background-color: #000000ad;
        }
    }
  }


}

.nav.active {
    padding: 1rem 2rem;
    border-bottom: .1rem solid #000000ad;

    .nav__logo {
        a {
            letter-spacing: 0;
        }
    }
}

.nav.dark-mode {
    border-bottom-color: #ffffff44;
    background-color: #0c0c0c;
    .nav__logo {
        a {
            color: #fff;
        }
    }

    .nav__search {
        .search__input {
            color: #fff;
            border-bottom: 1px solid #fff;

            &::placeholder {
                color: #fff;
            }
        }
    }

    .nav__links {
        .nav__link {
            color: #fff;
        }
    }

    .menu__btn {
        background-color: #fff;
        color: #000;

        &:hover {
            background-color: #ffffffad;
        }
    }
}

@media (max-width: 700px) {
    .nav {
        .nav__search {
            display: none;
        }
    }
}